body {
    padding: 20px;
    color: #373737;
    font-size: 62.5%;
    line-height: 2.0em;
    /* margin-left: 15%;
    margin-right: 15%; */
  }
  
.formstyle{
    /* display: flex; */
    /* padding-bottom: 4%; */
    text-align: center;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
  }


.button {
    background-color: #0068a5; /* Green */
    border: none;
    color: white;
    padding: 7px 30px;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: .4em;
    cursor: pointer;
    
  }
h1{
    text-align: center;
}




.displaydata{
  color: #0068a5;
  display: flex;
  font-weight: 700;

}
.dropdown-content li>a, .dropdown-content li>span {

  color: #0068a5 !important;

}


span{
  color: #0068a5 !important;
}
/* ----------------------------------- */


.tabs .indicator { background-color: #0068a5 !important; }
.tabs .tab a {
  
  color: #0068a5 !important;
}
.tabs .tab a.active {
  color: #0068a5 !important;
}
.tabs .tab a:hover {
  color: rgb(0, 104, 165) !important;
}
.tabs .tab a:focus {
  background-color: rgba(0, 104, 165, 0.1) !important;
}
.tabs .tab a:focus.active {
  background-color: rgba(0, 104, 165, 0.1) !important;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
}
.sizefont{
  font-size: 2em;

}

.center-data{
  text-align: center;
  color: #0068a5;
  margin-bottom: 4%;
}